/*/build/*
/build/**/*.*
bin
*.class
.gradle
.idea/*
sootOutput
*.jar
*.jimple
!.idea/jsonSchemas.xml
!.idea/codeStyles
!.idea/inspectionProfiles
!.idea/scopes
!/build/reports/dependency-graph/dependency-graph.png
repos/
